{% load static %}

<div class="emp-section">
    <div data-aos="fade-right">
        <div class="review-heading">
            What My <b>interests</b>
        </div>

        <div class="review-text">
            <p> Here is an explanation of my interests.
            </p>
        </div>
    </div>

  <div class="blog-slider" data-aos="fade-up">
    <div class="blog-slider__wrp swiper-wrapper">
      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img
            src="{% static 'images/mac.jpeg' %}"
            alt="emp"
          />
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">운동(주짓수, 헬스, 축구, 농구)</span>
          <div class="blog-slider__title">주짓수</div>
            <div class="blog-slider__text">
                저는 주짓수를 배우는 것을 좋아합니다. 시작한지 얼마 되지 않았지만 사람들과 함께 운동하고 육체와 정신을 수련한다는 점이 매력적인 것 같습니다.
                주짓수는 기술이 정말 많습니다. 그 이유는 상황에 따라 기술을 응용해야 하기 때문입니다. 어떤 상황에 처해도 유연한 대처를 하고 싶습니다.
            </div>
          <!-- <a href="#" class="blog-slider__button">READ MORE</a> -->
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img
            src="{% static 'images/emp2.jpeg' %}"
            alt=""
          />
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">음악(피아노, 노래, 랩)</span>
          <div class="blog-slider__title">피아노</div>
          <div class="blog-slider__text">
            저는 노래 듣는 것을 좋아합니다. 다른 악기들도 좋아하지만 저는 피아노 소리가 가장 듣기 좋은 것 같습니다.
              가끔 피아노를 치며 제가 쓴 가사들로 노래를 부르기도 합니다. 집중해서 하다보면 시간이 금방 가곤 합니다.

          </div>
          <!-- <a href="#" class="blog-slider__button">READ MORE</a> -->
        </div>
      </div>

      <div class="blog-slider__item swiper-slide">
        <div class="blog-slider__img">
          <img
            src="{% static 'images/emp1.jpeg' %}"
            alt=""
          />
        </div>
        <div class="blog-slider__content">
          <span class="blog-slider__code">자기계발 </span>
          <div class="blog-slider__title">독서</div>
          <div class="blog-slider__text">
            요즘은 경제에 관심이 많습니다. 돈을 버는것 만큼 중요한게 돈을 관리하는 법이라고 생각합니다.
              경제 관련 책들을 읽으며 지식을 쌓고 현실적인 계획을 세우고 있습니다.
              그 외에도 생물학, 심리학 등 다양한 분야의 책을 읽으며 지식을 쌓고 있습니다.
          </div>
          <!-- <a href="#" class="blog-slider__button">READ MORE</a> -->
        </div>
      </div>
    </div>
    <div class="blog-slider__pagination"></div>
  </div>

  <!-- <hr class="line"> -->
</div>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"
></script>

<script>
  var swiper = new Swiper(".blog-slider", {
    spaceBetween: 30,
    effect: "fade",
    loop: true,
    mousewheel: {
      invert: false,
    },
    // autoHeight: true,
    pagination: {
      el: ".blog-slider__pagination",
      clickable: true,
    },
  });
</script>
