{% load static %}

<div class="jobs">
    <div data-aos="fade-right">
        <div class="jobs-heading">
            Project <b>Experience</b>
        </div>
        <!-- <div class="jobs-text">
            <p>Devtron is hiring for the following positions</p>
        </div> -->
    </div>
    <div class="jobs-upper" data-aos="fade-up">
        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3><a style="text-decoration: none; color: black;" href="{% url 'jobs' %}">ISMS-P Ocastration System</a></h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> 한이음</p></span>
                        <span><p> 팀 구성: 3명</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 2022</p>
                        <p>Experience: Java, Spring, React, AWS</p>
                    </div>
                    <span>ISMS-P의 실무적 이해를 위해 정보보호 및 개인정보보호 관리체계에서 제시하는 항목을 이 력 관리할 수 있는 시스템 개발
                    </span>
                </div>
            </div>
        </div>

        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3><a style="text-decoration: none; color: black;" href="{% url 'jobs' %}">클라우드 보안 컨설팅</a></h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Sk Shieldus</p></span>
                        <span><p>팀구성 : 9명</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 2023</p>
                        <p>Experience: AWS, EKS, Docker, Django, Nginx</p>
                    </div>
                    <span>고객사의 클라우드 환경을 분석하고 보안을 강화하여 ISMS 인증 취득을 위한 프로젝트
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="jobs-lower" data-aos="fade-up">
        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3><a style="text-decoration: none; color: black;" href="{% url 'jobs' %}">취약점 진단 및 모의해킹 컨설팅</a></h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Sk Shieldus</p></span>
                        <span><p> 팀 구성: 7명</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 2023</p>
                        <p>Experience: AWS, Nodejs, SQLInjection, setoolkit</p>
                    </div>
                    <span>뱅킹 시스템을 AWS 클라우드 인프라에 구축하고 취약점 진단 및 모의해킹 컨설팅을 수행하는 프로젝트
                    </span>
                </div>
            </div>
        </div>

        <div class="jobs-card">
            <div class="job-card-content">
                <div class="animated animatedFadeInUp fadeInUp">
                    <div class="job-intro">
                        <span><h3><a style="text-decoration: none; color: black;" href="{% url 'jobs' %}">Macro Detection System</a></h3><img src="https://img.icons8.com/color/48/000000/group-skin-type-7.png"/></span>
                        <span><p> Suwon University</p></span>
                        <span><p> 팀 구성: 2명</p></span>
                    </div>
                    <div class="jobs-count">
                        <p>Openings: 2023</p>
                        <p>Experience: Linux, Python, Django, Apache, BurpSuite</p>
                    </div>
                    <span>불법 봇 또는 매크로를 탐지하고 차단하는 시스템 개발
                    </span>
                </div>
            </div>
        </div>
    </div>

    <a style="text-decoration: none; color: black;" href="{% url 'jobs' %}"><center><div class="more-btn" data-aos="zoom-in">More Projects</div></center></a>

    <!-- <hr class="line"> -->
</div>