{% load static %}

<div class="why" data-aos="fade-right">
    <div data-aos="fade-right">
        <div class="why-heading">
            Why <b>Choose Me</b>
        </div>
        <div class="why-text">
            <p> 목표달성을 위한 열정과 끈기가 최고의 강점입니다. 최근 5개월동안 학교 수업과 수많은 프로젝트를 완수했습니다. 빠른 변화에 따라 새로운 기술과 지식을 배우고 끊임없이 성장하겠습니다.
            </p>
        </div>
    </div>

    <div class="why-values-upper" data-aos="fade-up">
        <div class="left-data">
            <div class="location-title">
                <p>AWS Skill</p>
            </div>
            <div class="location-content">
                <p> AWS Architecture 설계 및 AWS Infra 구축 <br>
                    AWS 보안 서비스 사용 <br>
                    AWS EKS & ECR <br>
                    AWS 취약점 점검
                </p>
            </div>
        </div>
        <div class="right-data">
            <div class="location-title">
                <p>Compliance</p>
            </div>
            <div class="location-content">
                <p> ISMS-P<br>
                    전자금융감독규정<br>
                    개인정보보호법<br>
                    정보통신망법
                </p>
            </div>
        </div>
    </div>

    <div class="why-values-lower" data-aos="fade-up">
        <div class="left-data">
            <div class="location-title">
                <p>Tech Stack</p>
            </div>
            <div class="location-content">
                <p> Django<br>
                    Python<br>
                    Linux <br>
                    Docker <br>
                    Nginx & Apache<br>
                    Database <br>
                    Word, Excel, PPT
                </p>
            </div>
        </div>
        <div class="right-data">
            <div class="location-title">
                <p>Security</p>
            </div>
            <div class="location-content">
                <p> 정보보호학 전공<br>
                    보안 컨설팅 방법론<br>
                    주요정보통신기반시설 취약점 점검<br>
                    모의해킹 수행 경험<br>

            </div>
        </div>
    </div>

    <!-- <hr class="line"> -->

</div>